<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nodeId</key>
		<string>6592</string>
		<key>name</key>
		<string>美国</string>
		<key>son</key>
		<string>1</string>
		<key>parentId</key>
		<string>14</string>
		<key>son1</key>
		<array>
			<dict>
				<key>nodeId</key>
				<string>6593</string>
				<key>name</key>
				<string>加州</string>
				<key>son</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nodeId</key>
		<string>6582</string>
		<key>name</key>
		<string>中国</string>
		<key>parentId</key>
		<string>13</string>
		<key>son</key>
		<string>1</string>
		<key>son1</key>
		<array>
			<dict>
				<key>nodeId</key>
				<string>6594</string>
				<key>name</key>
				<string>四川</string>
				<key>son</key>
				<string>1</string>
				<key>son1</key>
				<array>
					<dict>
						<key>nodeId</key>
						<string>6596</string>
						<key>name</key>
						<string>成都</string>
						<key>son</key>
						<string>0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>重庆</string>
						<key>nodeId</key>
						<string>6595</string>
						<key>son</key>
						<string>0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>nodeId</key>
				<string>6585</string>
				<key>name</key>
				<string>浙江</string>
				<key>son</key>
				<string>1</string>
				<key>son1</key>
				<array>
					<dict>
						<key>nodeId</key>
						<string>6586</string>
						<key>name</key>
						<string>杭州</string>
						<key>son</key>
						<string>0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>nodeId</key>
				<string>6584</string>
				<key>name</key>
				<string>广东</string>
				<key>son</key>
				<string>1</string>
				<key>son1</key>
				<array>
					<dict>
						<key>nodeId</key>
						<string>6587</string>
						<key>name</key>
						<string>深圳</string>
						<key>son</key>
						<string>0</string>
					</dict>
					<dict>
						<key>nodeId</key>
						<string>6588</string>
						<key>name</key>
						<string>广州</string>
						<key>son</key>
						<string>0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>nodeld</key>
				<string>6583</string>
				<key>name</key>
				<string>江苏</string>
				<key>son</key>
				<string>1</string>
				<key>son1</key>
				<array>
					<dict>
						<key>nodeId</key>
						<string>6598</string>
						<key>name</key>
						<string>无锡</string>
						<key>son</key>
						<string>1</string>
						<key>son1</key>
						<array>
							<dict>
								<key>nodeId</key>
								<string>6599</string>
								<key>name</key>
								<string>上城区</string>
								<key>son</key>
								<string>0</string>
							</dict>
							<dict>
								<key>nodeId</key>
								<string>6600</string>
								<key>name</key>
								<string>西湖区</string>
								<key>son</key>
								<string>0</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>nodeId</key>
						<string>6597</string>
						<key>name</key>
						<string>苏州</string>
						<key>son</key>
						<string>0</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
